/* Add a background color to the header element */
header {
    background-color: chocolate;
}
/* Add a fun background color to the main element */
main {
    background-color: rgb(15, 8, 8);
}

/* Align the h1 containing your name in the center of the header*/
h1{
    align-items: center;
}

/* Make your p tag a different color and italic */
p{
    color: darkcyan;
    font-style: italic;
}

/* Put a border around your image */
img{
    border-style: groove;
}
/* Change the font-family of your list */
ul{
    font-family: Arial, Helvetica, sans-serif;
}

/* Add a background color to the footer element */
footer{
    background-color: azure;
}